In [1]:
cid='cid-0001'
print('The Customer ID of the first customer is', cid)

The Customer ID of the first customer is cid-0001

In [2]:
cid1= 'cid-0001'
cid2= 'cid-0002'
cid3= 'cid-0003'
cid4= 'cid-0004'
cid5= 'cid-0005'

In [3]:
cid = ['cid-0001','cid-0002','cid-0003','cid-0004','cid-0005']

In [4]:
print('Customer:', cid)

Customer: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [5]:
credit_score = [650, 723, 581, 462, 773]
age_of_customer = [25,28,38,41,62]
debt_status = ['no-debt','no-debt','no-debt', 'in-debt','no-debt']
no_of_existing_credit_cards = [3,2,4,1,2]
print('Customer ID:', cid)
print('Credit Score:', credit_score)
print('Age of Customer:', age_of_customer)
print('Debt Status:', debt_status)
print('Number of Existing Credit Cards', no_of_existing_credit_cards)

Customer ID: ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']
Credit Score: [650, 723, 581, 462, 773]
Age of Customer: [25, 28, 38, 41, 62]
Debt Status: ['no-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']
Number of Existing Credit Cards [3, 2, 4, 1, 2]

In [8]:
pos = cid.index('cid-0002')
print(pos)
print(cid[pos])
print(credit_score[pos])
print(age_of_customer[pos])
print(debt_status[pos])
print(no_of_existing_credit_cards[pos])

1
cid-0002
723
28
no-debt
2

In [9]:
pos = cid.index('cid-0001')
debt_status[pos] = 'in-debt'
debt_status

['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt']

In [10]:
prec_on_time = [0.62, 0.78, 0.20, 0.32, 0.85]
if prec_on_time[0] > 0.7:
    credit_score[0] = round(credit_score[0]*1.02)
    print('Credit score updated for cid-0001')
else: 
    print('Credit score is the same for cid-0001')

if prec_on_time[1] > 0.7:
    credit_score[1] = round(credit_score[1]*1.02)
    print('Credit score updated for cid-0002')
else:
    print('Credit score is the same for cid-0002')

if prec_on_time[2] > 0.7:
    credit_score[2] = round(credit_score[2]*1.02)
    print('Credit score updated for cid-0003')
else:
    print('Credit score is the same for cid-0003')

if prec_on_time[3] > 0.7:
    credit_score[3] = round(credit_score[3]*1.02)
    print('Credit score updated for cid-0004')
else:
    print('Credit score is the same for cid-0004')

if prec_on_time[4] > 0.7:
    credit_score[4] = round(credit_score[4]*1.02)
    print('Credit score updated for cid-0005')
else:
    print('Credit score is the same for cid-0005')

Credit score is the same for cid-0001
Credit score updated for cid-0002
Credit score is the same for cid-0003
Credit score is the same for cid-0004
Credit score updated for cid-0005

In [12]:
credit_score

[650, 737, 581, 462, 788]

In [13]:
for i in range(0,5):
    if prec_on_time[i] < 0.4:
        credit_score[i] = round(credit_score[i] * 0.98)
        print('Credit score reduced for', cid[i])
    else: 
        print('Credit score is the same for', cid[i])

Credit score is the same for cid-0001
Credit score is the same for cid-0002
Credit score reduced for cid-0003
Credit score reduced for cid-0004
Credit score is the same for cid-0005

In [14]:
count = 0
for i in range(0,5):
    if credit_score[i] > 700:
        count +=1
print('Number of customers with credit score greater than 700:', count)

Number of customers with credit score greater than 700: 2

In [17]:
count = 0
for i in range(0,5):
    if no_of_existing_credit_cards[i] > 2:
        count += 1
print('Number of customers with more than 2 credit cards:', count)

Number of customers with more than 2 credit cards: 2

In [18]:
indebt = 0
nodebt = 0
for i in range(0,5):
    if debt_status[i] == 'in-debt':
        indebt+=1
    if debt_status[i] == 'no-debt':
        nodebt+=1
print('Number of customers in debt:', indebt)
print('Number of customers not in debt:', nodebt)

Number of customers in debt: 2
Number of customers not in debt: 3

In [20]:
for i in range(0,5):
    if cid[i] == 'cid-0002':
        print('-'*30)
        print('Customer Id:', cid[i])
        print('Credit score:', credit_score[i])
        print('Age of customer:',age_of_customer[i])
        print('Debt status:', debt_status[i])
        print('Number of existing credit cards:', no_of_existing_credit_cards[i])

------------------------------
Customer Id: cid-0002
Credit score: 737
Age of customer: 28
Debt status: no-debt
Number of existing credit cards: 2

In [23]:
def customer_info(c_id):
    for i in range(0, len(cid)):
        if cid[i] == c_id:
            print('-'*30)
            print('Customer Id:', cid[i])
            print('Credit score:', credit_score[i])
            print('Age of customer:',age_of_customer[i])
            print('Debt status:', debt_status[i])
            print('Number of existing credit cards:', no_of_existing_credit_cards[i])

In [25]:
customer_info('cid-0001')

------------------------------
Customer Id: cid-0001
Credit score: 650
Age of customer: 25
Debt status: in-debt
Number of existing credit cards: 3

In [26]:
df1 = {'cust_id':cid,
      'cred_score':credit_score,
      'age':age_of_customer,
      'debt_status':debt_status,
      'curr_credit_cards':no_of_existing_credit_cards}

In [27]:
df1

{'cust_id': ['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005'],
 'cred_score': [650, 737, 569, 453, 788],
 'age': [25, 28, 38, 41, 62],
 'debt_status': ['in-debt', 'no-debt', 'no-debt', 'in-debt', 'no-debt'],
 'curr_credit_cards': [3, 2, 4, 1, 2]}

In [28]:
df1['cust_id']

['cid-0001', 'cid-0002', 'cid-0003', 'cid-0004', 'cid-0005']

In [29]:
df1['cust_id'][2]

'cid-0003'

In [31]:
for key, value in df1.items():
    print(key,value[3])

cust_id cid-0004
cred_score 453
age 41
debt_status in-debt
curr_credit_cards 1

In [32]:
import pandas as pd

In [35]:
df = pd.DataFrame(df1)

In [36]:
df

    cust_id  cred_score  age debt_status  curr_credit_cards
0  cid-0001         650   25     in-debt                  3
1  cid-0002         737   28     no-debt                  2
2  cid-0003         569   38     no-debt                  4
3  cid-0004         453   41     in-debt                  1
4  cid-0005         788   62     no-debt                  2

In [37]:
df.head()

    cust_id  cred_score  age debt_status  curr_credit_cards
0  cid-0001         650   25     in-debt                  3
1  cid-0002         737   28     no-debt                  2
2  cid-0003         569   38     no-debt                  4
3  cid-0004         453   41     in-debt                  1
4  cid-0005         788   62     no-debt                  2

In [38]:
df.tail(3)

    cust_id  cred_score  age debt_status  curr_credit_cards
2  cid-0003         569   38     no-debt                  4
3  cid-0004         453   41     in-debt                  1
4  cid-0005         788   62     no-debt                  2

In [42]:
df.describe().T

                   count   mean         std    min    25%    50%    75%    max
cred_score           5.0  639.4  133.623725  453.0  569.0  650.0  737.0  788.0
age                  5.0   38.8   14.584238   25.0   28.0   38.0   41.0   62.0
curr_credit_cards    5.0    2.4    1.140175    1.0    2.0    2.0    3.0    4.0

In [44]:
df.shape

(5, 5)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   cust_id            5 non-null      object
 1   cred_score         5 non-null      int64
 2   age                5 non-null      int64
 3   debt_status        5 non-null      object
 4   curr_credit_cards  5 non-null      int64
dtypes: int64(3), object(2)
memory usage: 332.0+ bytes