In [1]:
45+72

117

In [2]:
x=7
y=3
x+y

10

In [3]:
total = x+y
total

10

In [4]:
type(x)

int

In [5]:
type(10.5)

float

In [6]:
7*4

28

In [7]:
#exponentials
2**10

1024

In [8]:
# to calculate the square root of 9
9 ** (1/2)

3.0

In [9]:
# division
7/4

1.75

In [10]:
# floor division, provides the highest integer value not greater than thte result
7//4

1

In [11]:
3//5

0

In [12]:
14//7

2

In [13]:
-13/4

-3.25

In [14]:
# when the division is by a negative, is will still be the integer lower than the result
# -3 is greater than -3.25, so the answer is -4
-13//4

-4

In [15]:
13//4

3

In [16]:
# remainder operator yields the remainder of the division problem
17 % 5

2

In [17]:
7.5 % 3.5

0.5

In [18]:
10 * (5+3)

80

In [19]:
print('Welcome','to','Python')

Welcome to Python

In [22]:
print('Welcome\tto\tPython\t!')

Welcome	to	Python	!

In [23]:
print('Sum is', 7+3)

Sum is 10

In [24]:
type('word')

str

In [25]:
# you can put double quotes in a single quote print line
print('Display "hi" in quotes')

Display "hi" in quotes

In [26]:
print('Display single quote \'hi\' in quotes')

Display single quote 'hi' in quotes

In [27]:
print("Diplay the name O'brien")

Diplay the name O'brien

In [28]:
# You can use triple quotes to put double and single quotes in a print line
print("""Display "hi" and 'by' in quotes """)

Display "hi" and 'by' in quotes

In [31]:
triple_quoted_string = """This is a triple-quoted
string that spans two line"""
print(triple_quoted_string)

This is a triple-quoted
string that spans two line

In [32]:
triple_quoted_string

'This is a triple-quoted\nstring that spans two line'

In [33]:
name = input("What's your name?")

What's your name?Paul

In [34]:
name

'Paul'

In [35]:
print(name)

Paul

In [36]:
name = input("What's your name?")

What's your name?'Paul'

In [37]:
name

"'Paul'"

In [38]:
print(name)

'Paul'

In [39]:
value1 = input('Enter first number: ')

Enter first number: 7

In [40]:
value2 = input('Enter the second number: ')

Enter the second number: 3

In [41]:
value1 + value2

'73'

In [42]:
value = input('Enter first number: ')

Enter first number: 7

In [45]:
value = int(value)
value

7

In [46]:
another_value = int(input('Enter another integer: '))

Enter another integer: 13

In [48]:
another_value

13

In [49]:
value + another_value

20

In [52]:
# returns a boolean True Fale value
7 > 4

True

In [53]:
7 < 4

False

In [57]:
7 == 4

False

In [64]:
#Ex 2.5
pi = 3.14159
r = 2

print('Diameter:', 2*r)
print('Circumference:', 2 * pi * r)
print('Area:', pi * (r ** 2))

Diameter: 4
Circumference: 12.56636
Area: 12.56636

In [65]:
#Ex 2.6
number = int(input('Enter an integer:'))
if number % 2 == 0:
    print('Even')
else:
    print('Odd')

Enter an integer5
Odd

In [75]:
#Ex 2.7
x = [1024, 2]
for i in x:
    if i % 4 == 0:
        print('{} is a multiple of 4'.format(i))
    elif i % 10 == 0:
        print('{} is a multiple of 10'.format(i))
    else:  
        print('Number {} is not a multiplier of 4 or 10'.format(i))

1024 is a multiple of 4
Number 2 is not a multiplier of 4 or 10

In [83]:
#Ex 2.8
print('number\tsquare\tcube')
for i in range(6):
    print('{}\t{}\t{}'.format(i, i**2, i**3))

number	square	cube
0	0	0
1	1	1
2	4	8
3	9	27
4	16	64
5	25	125

In [85]:
#Ex 2.9
# to determine a character's integer value
ord('A')

65

In [108]:
#Ex 2.10
import numpy as np
x = [2,3,4]
print('Sum:{} \t Average:{} \t Product:{}'.format(np.sum(x), np.mean(x), np.prod(x)))

Sum:9 	 Average:3.0 	 Product:24

In [115]:
#Ex 2.11
# use the end=' ' piece to keep everything on the same line instead of a new line
string = input('Enter a 5 digit number:')
for i in string:
    print(i, end='  ')

Enter a 5 digit number:98723
9  8  7  2  3

In [136]:
#Ex 2.15
x = []
for i in range(0,3):
    y = input('Enter a floating point number:')
    x.append(float(y))
x.sort()
print(x)

Enter a floating point number:12.3
Enter a floating point number:11.5
Enter a floating point number:23
[11.5, 12.3, 23.0]