In [1]:
import mysql.connector

In [2]:
try:
    cnx = mysql.connector.connect(user='root', 
                                  password='MySQL%958#treebeard',
                                  host='localhost',
                                  database = 'sampledb',
                                  use_pure=True)

except mysql.connector.Error as err:
        print("Error-Code:", err.errno)
        print("Error-Message: {}".format(err.msg))
    
if cnx.is_connected():
  print("Connected to MySQL database")

Connected to MySQL database

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="MySQL%958#treebeard",
  database="sampledb",
  use_pure=True
)

if mydb.is_connected():
  print("Connected to MySQL database")

Connected to MySQL database

In [6]:
try:
    cnx = mysql.connector.connect(user='root', 
                                  password='MySQL%958#treebeard',
                                  host='localhost',
                                  database = 'sampledb',
                                  use_pure=True)
    if cnx.is_connected():
        print("Connected to MySQL database")   
    
    cursor = cnx.cursor()
    # defining employee rows
    emps = [
        (9001, "Jeff Russell", "sales"),
        (9002, "Jane Boorman", "sales"),
        (9003, "Tom Heints", "sales")
    ]
    # defining the insert query
    query_add_emp = (""" INSERT INTO emps(empno, empname, job)\
                         VALUES (%s, %s, %s)""")
    
    #inserting the employee rows
    for emp in emps:
        cursor.execute(query_add_emp, emp)
    
    # defining and inserting salaries
    salary = [
        (9001, 3000),
        (9002, 2800),
        (9003, 2500)
    ]
    # defining the insert query
    query_add_salary = ("""INSERT INTO salary(empno, salary)
                           VALUES (%s, %s)""")
    # inserting the salary rows
    for sal in salary:
        cursor.execute(query_add_salary, sal)
    
    # defining order rows
    orders = [
        (2608, 9001, 35),
        (2617, 9001, 35),
        (2620, 9001, 139),
        (2621, 9002, 95),
        (2626, 9002, 218)
    ]
    
    # defining the insert query
    query_add_orders = ("""INSERT INTO orders(pono, empno, total)
                           VALUES (%s, %s, %s)""")
    
    # inserting the order row
    for order in orders:
        cursor.execute(query_add_orders, order)
    
    # making the insertions permanent in the database
    cnx.commit()
  
except mysql.connector.Error as err:
        print("Error-Code:", err.errno)
        print("Error-Message: {}".format(err.msg))

finally:
    cursor.close()
    cnx.close()

Connected to MySQL database

## Querying mySQL Database Data

In [8]:
try:
    cnx = mysql.connector.connect(user='root',
                                  host="localhost",
                                  password='MySQL%958#treebeard',
                                  database = 'sampledb',
                                  use_pure=True
                                 )
    cursor = cnx.cursor()
    query = ("SELECT * FROM emps WHERE empno > %s")
    empno = 9001
    cursor.execute(query, (empno,))
    for (empno, empname, job) in cursor:
        print("{}, {}, {}".format(empno, empname, job))

except mysql.connector.Error as err:
        print("Error-Code:", err.errno)
        print("Error-Message: {}".format(err.msg))

finally:
    cursor.close()
    cnx.close()

9002, Jane Boorman, sales
9003, Tom Heints, sales

## Using Database Analytics Tools

In [24]:
import yfinance as yf
data = []
tickers = ['TSLA','META','ORCL','AMZN']
for ticker in tickers:
    tkr = yf.Ticker(ticker)
    hist = tkr.history(period='5d').reset_index()
    records = hist[['Date','Close']].to_records(index=False)
    records = list(records)
    d = records
    records = [(ticker, str(elem[0])[:10], float(round(elem[1],2))) for elem in records]
    data = data + records
print(data)

[('TSLA', '2025-01-30', 400.28), ('TSLA', '2025-01-31', 404.6), ('TSLA', '2025-02-03', 383.68), ('TSLA', '2025-02-04', 392.21), ('TSLA', '2025-02-05', 378.17), ('META', '2025-01-30', 687.0), ('META', '2025-01-31', 689.18), ('META', '2025-02-03', 697.46), ('META', '2025-02-04', 704.19), ('META', '2025-02-05', 704.87), ('ORCL', '2025-01-30', 170.38), ('ORCL', '2025-01-31', 170.06), ('ORCL', '2025-02-03', 168.6), ('ORCL', '2025-02-04', 167.89), ('ORCL', '2025-02-05', 171.66), ('AMZN', '2025-01-30', 234.64), ('AMZN', '2025-01-31', 237.68), ('AMZN', '2025-02-03', 237.42), ('AMZN', '2025-02-04', 242.06), ('AMZN', '2025-02-05', 236.17)]

In [25]:
data

[('TSLA', '2025-01-30', 400.28),
 ('TSLA', '2025-01-31', 404.6),
 ('TSLA', '2025-02-03', 383.68),
 ('TSLA', '2025-02-04', 392.21),
 ('TSLA', '2025-02-05', 378.17),
 ('META', '2025-01-30', 687.0),
 ('META', '2025-01-31', 689.18),
 ('META', '2025-02-03', 697.46),
 ('META', '2025-02-04', 704.19),
 ('META', '2025-02-05', 704.87),
 ('ORCL', '2025-01-30', 170.38),
 ('ORCL', '2025-01-31', 170.06),
 ('ORCL', '2025-02-03', 168.6),
 ('ORCL', '2025-02-04', 167.89),
 ('ORCL', '2025-02-05', 171.66),
 ('AMZN', '2025-01-30', 234.64),
 ('AMZN', '2025-01-31', 237.68),
 ('AMZN', '2025-02-03', 237.42),
 ('AMZN', '2025-02-04', 242.06),
 ('AMZN', '2025-02-05', 236.17)]

In [31]:
# Load python list into a MySQl table called 'stock'
import mysql.connector
from mysql.connector import errorcode
from decimal import Decimal

try:
    cnx = mysql.connector.connect(user='root',
                                  host="localhost",
                                  password='MySQL%958#treebeard',
                                  database = 'sampledb',
                                  use_pure=True
                                 )
    cursor = cnx.cursor()
    
    print('Database connection made')
    
    # define the query
    query_add_stocks = (""" INSERT INTO stocks (ticker, date, price)
                            VALUES (%s, %s, %s)""")
    
    # adding the stock price rows
    cursor.executemany(query_add_stocks, data)
    cnx.commit()

except mysql.connector.Error as err:
        print("Error-Code:", err.errno)
        print("Error-Message: {}".format(err.msg))

finally:
    cursor.close()
    cnx.close()

Database connection made

## Query mySQL data with subquery and partition

In [3]:
import pandas as pd
import mysql.connector
from mysql.connector import errorcode

try:
    cnx = mysql.connector.connect(user='root',
                                  password = 'MySQL%958#treebeard',
                                  host='localhost',
                                  database='sampledb',
                                  use_pure=True)
    query = ("""
        SELECT s.* FROM stocks AS s
        LEFT JOIN
          (SELECT DISTINCT(ticker) FROM
             (SELECT
                price/LAG(price) OVER(PARTITION BY ticker ORDER BY date) AS dif,
                ticker
              FROM stocks) as b
           WHERE dif < 0.99) as a
        ON a.ticker = s.ticker
        WHERE a.ticker IS NULL""")
    df_stocks = pd.read_sql(query, con=cnx)
    df_stocks = df_stocks.set_index(['ticker','date'])

except mysql.connector.Error as err:
    print('Error-Code:', err.errno)
    print('Error-Message: {}'.format(err.msg))
finally:
    cnx.close

C:\Users\timry\AppData\Local\Temp\ipykernel_56568\609227010.py:22: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_stocks = pd.read_sql(query, con=cnx)

In [4]:
df_stocks

                   idstocks   price
ticker date
META   2025-01-30        46  687.00
       2025-01-31        47  689.18
       2025-02-03        48  697.46
       2025-02-04        49  704.19
       2025-02-05        50  704.87
ORCL   2025-01-30        51  170.38
       2025-01-31        52  170.06
       2025-02-03        53  168.60
       2025-02-04        54  167.89
       2025-02-05        55  171.66

## NoSQL Databases