In [1]:
import pandas as pd
msu_df = pd.read_csv('MSU applications.csv')
msu_df.set_index('Year', drop=True, inplace=True)
msu_df

      P_Football_Performance    SMAn2  N_Applications
Year
2006                   0.273   5778.0            5778
2007                   0.273   5778.0            5140
2008                   0.250   5459.0            6141
2009                   0.615   5640.5            7429
2010                   0.333   6785.0            7839
2011                   0.417   7634.0            9300
2012                   0.692   8569.5            9864
2013                   0.538   9582.0           10449
2014                   0.615  10156.5           11117
2015                   0.538  10783.0           10766
2016                   0.769  10941.5           12701
2017                   0.692  11733.5           13930
2018                   0.462  13315.5           13817
2019                   0.692  13873.5           17363
2020                   0.615  15590.0           18269
2021                   0.462  17816.0           16127

In [7]:
from sklearn.linear_model import LinearRegression

x = ['P_Football_Performance','SMAn2']
y = 'N_Applications'

#x contains the independent attributes
data_x = msu_df[x]
#y contains the dependent attribute
data_y = msu_df[y]

lm = LinearRegression()
lm.fit(data_x, data_y)

print('intercept (b0) ', lm.intercept_)
coef_names = ['b1','b2']
print(pd.DataFrame({'Predictor': data_x.columns,
                    'coefficient Name': coef_names,
                    'coefficient Value': lm.coef_}))

intercept (b0)  -890.7106225983371
                Predictor coefficient Name  coefficient Value
0  P_Football_Performance               b1        5544.961933
1                   SMAn2               b2           0.907032

In [8]:
newData = pd.DataFrame({'P_Football_Performance':0.364,'SMAn2':17198},
                       index=[2022])
newData

      P_Football_Performance  SMAn2
2022                   0.364  17198

In [9]:
lm.predict(newData)

array([16726.78787061])

In [16]:
from sklearn.neural_network import MLPRegressor

X = ['P_Football_Performance','SMAn2']
y = 'N_Applications'

data_X = msu_df[X]
data_y = msu_df[y]

mlp = MLPRegressor(hidden_layer_sizes=6, max_iter=15000)
mlp.fit(data_X, data_y)

mlp.predict(newData)

C:\Users\timry\anaconda3\Lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (15000) reached and the optimization hasn't converged yet.
  warnings.warn(

array([18810.41482295])