## Reading and Analyzing Data

In [3]:
import pandas as pd

In [8]:
players = pd.read_csv('players.csv', encoding='ISO-8859-1')
games = pd.read_csv('games.csv', encoding='ISO-8859-1')
shots = pd.read_csv('https://bradfordtuckfield.com/shots.csv', encoding='ISO-8859-1')

In [9]:
players.head()

   playerID            name
0       560   Sergio Romero
1       557  Matteo Darmian
2       548     Daley Blind
3       628  Chris Smalling
4      1006       Luke Shaw

In [10]:
games.head()

,gameID,leagueID,season,date,homeTeamID,awayTeamID,homeGoals,awayGoals,homeProbability,drawProbability,...,PSA,WHH,WHD,WHA,VCH,VCD,VCA,PSCH,PSCD,PSCA
0,81,1,2015,2015-08-08 15:45:00,89,82,1,0,0.2843,0.3999,...,5.90,1.62,3.6,6.00,1.67,4.00,5.75,1.64,4.07,6.04
1,82,1,2015,2015-08-08 18:00:00,73,71,0,1,0.3574,0.3500,...,4.27,1.91,3.5,4.00,2.00,3.50,4.20,1.82,3.88,4.70
2,83,1,2015,2015-08-08 18:00:00,72,90,2,2,0.2988,0.4337,...,5.62,1.73,3.5,5.00,1.73,3.90,5.40,1.75,3.76,5.44
3,84,1,2015,2015-08-08 18:00:00,75,77,4,2,0.6422,0.2057,...,4.34,2.00,3.1,2.70,2.00,3.40,4.33,1.79,3.74,5.10
4,85,1,2015,2015-08-08 18:00:00,79,78,1,3,0.1461,0.2159,...,3.08,2.60,3.1,2.88,2.60,3.25,3.00,2.46,3.39,3.14

In [11]:
shots.head()

,gameID,shooterID,assisterID,minute,situation,lastAction,shotType,shotResult,xGoal,positionX,positionY
0,81,554,NaN,27,DirectFreekick,Standard,LeftFoot,BlockedShot,0.104347,0.794,0.421
1,81,555,631.0,27,SetPiece,Pass,RightFoot,BlockedShot,0.064342,0.860,0.627
2,81,554,629.0,35,OpenPlay,Pass,LeftFoot,BlockedShot,0.057157,0.843,0.333
3,81,554,NaN,35,OpenPlay,Tackle,LeftFoot,MissedShots,0.092141,0.848,0.533
4,81,555,654.0,40,OpenPlay,BallRecovery,RightFoot,BlockedShot,0.035742,0.812,0.707

In [12]:
shots.columns

Index(['gameID', 'shooterID', 'assisterID', 'minute', 'situation',
       'lastAction', 'shotType', 'shotResult', 'xGoal', 'positionX',
       'positionY'],
      dtype='object')

## Setting Up A SQL Database (SQLite3)

In [13]:
import sqlite3

In [14]:
conn = sqlite3.connect("soccer.db")
curr = conn.cursor()

In [15]:
players.to_sql('playertable', conn, if_exists='replace', index=False)

7659

## Running SQL Queries

In [20]:
# Return the first 5 rows of the playertable and then print them

curr.execute('''
SELECT * FROM playertable LIMIT 5
    ''')
for row in curr.fetchall():
    print(row)

(560, 'Sergio Romero')
(557, 'Matteo Darmian')
(548, 'Daley Blind')
(628, 'Chris Smalling')
(1006, 'Luke Shaw')

In [21]:
# select the row for playerid 554 and then print the row
curr.execute('''
select * from playertable where playerid=554
''')

for row in curr.fetchall():
    print(row)

(554, 'Juan Mata')

In [22]:
curr.execute('''
select * from playertable where name = "Juan Mata"
''')

for row in curr.fetchall():
    print(row)

(554, 'Juan Mata')

In [32]:
# Get player ids greater than 190 and less than 200
# order the results in descending order by playerid(1)

curr.execute('''
select * from playertable 
where playerid>190 and playerid<200 
order by 1 desc

''')

for row in curr.fetchall():
    print(row)

(199, 'Yann Sommer')
(198, 'Vladlen Yurchenko')
(197, 'Kyriakos Papadopoulos')
(196, 'Dario Kresic')
(195, 'AndrÃ© Ramalho')
(194, 'Admir Mehmedi')
(193, 'Giulio Donati')
(192, 'Marlon Frey')
(191, 'Chicharito')

In [33]:
curr.execute('''
select * from playertable
where name like 'Juan M%'
''')

for row in curr.fetchall():
    print(row)

(554, 'Juan Mata')
(2585, 'Juan MuÃ±iz')
(2067, 'Juan MuÃ±oz')
(4820, 'Juan Manuel FalcÃ³n')
(7095, 'Juan Musso')
(5009, 'Juan Manuel Valencia')
(7286, 'Juan Miranda')

## Combining Dta by Joining Tables

In [34]:
games = pd.read_csv('games.csv', encoding='ISO-8859-1')
shots = pd.read_csv('https://bradfordtuckfield.com/shots.csv', encoding='ISO-8859-1')

In [35]:
games.to_sql('gamestable',conn, if_exists='replace', index=False)

12680

In [38]:
curr.execute('''
select * 
from gamestable 
limit 5

''')

for row in curr.fetchall():
    print(row)

(81, 1, 2015, '2015-08-08 15:45:00', 89, 82, 1, 0, 0.2843, 0.3999, 0.3158, 1, 0, 1.65, 4.0, 6.0, 1.65, 4.0, 5.5, 1.65, 3.6, 5.1, 1.65, 4.09, 5.9, 1.62, 3.6, 6.0, 1.67, 4.0, 5.75, 1.64, 4.07, 6.04)
(82, 1, 2015, '2015-08-08 18:00:00', 73, 71, 0, 1, 0.3574, 0.35, 0.2926, 0, 0, 2.0, 3.6, 4.0, 2.0, 3.3, 3.7, 2.1, 3.3, 3.3, 1.95, 3.65, 4.27, 1.91, 3.5, 4.0, 2.0, 3.5, 4.2, 1.82, 3.88, 4.7)
(83, 1, 2015, '2015-08-08 18:00:00', 72, 90, 2, 2, 0.2988, 0.4337, 0.2675, 0, 1, 1.7, 3.9, 5.5, 1.7, 3.5, 5.0, 1.7, 3.6, 4.7, 1.7, 3.95, 5.62, 1.73, 3.5, 5.0, 1.73, 3.9, 5.4, 1.75, 3.76, 5.44)
(84, 1, 2015, '2015-08-08 18:00:00', 75, 77, 4, 2, 0.6422, 0.2057, 0.1521, 3, 0, 1.95, 3.5, 4.33, 2.0, 3.3, 3.75, 2.0, 3.3, 3.6, 1.99, 3.48, 4.34, 2.0, 3.1, 2.7, 2.0, 3.4, 4.33, 1.79, 3.74, 5.1)
(85, 1, 2015, '2015-08-08 18:00:00', 79, 78, 1, 3, 0.1461, 0.2159, 0.638, 0, 1, 2.55, 3.3, 3.0, 2.6, 3.2, 2.7, 2.4, 3.2, 2.85, 2.52, 3.35, 3.08, 2.6, 3.1, 2.88, 2.6, 3.25, 3.0, 2.46, 3.39, 3.14)

In [39]:
shots.to_sql('shotstable', conn, if_exists='replace', index=False)

324543

In [41]:
curr.execute('''
select * from shotstable limit 5
''')

for row in curr.fetchall():
    print(row)

(81, 554, None, 27, 'DirectFreekick', 'Standard', 'LeftFoot', 'BlockedShot', 0.104346722364426, 0.794000015258789, 0.420999984741211)
(81, 555, 631.0, 27, 'SetPiece', 'Pass', 'RightFoot', 'BlockedShot', 0.064342200756073, 0.86, 0.627000007629395)
(81, 554, 629.0, 35, 'OpenPlay', 'Pass', 'LeftFoot', 'BlockedShot', 0.0571568161249161, 0.843000030517578, 0.332999992370605)
(81, 554, None, 35, 'OpenPlay', 'Tackle', 'LeftFoot', 'MissedShots', 0.0921413898468018, 0.848000030517578, 0.532999992370605)
(81, 555, 654.0, 40, 'OpenPlay', 'BallRecovery', 'RightFoot', 'BlockedShot', 0.0357420146465302, 0.811999969482422, 0.706999969482422)

In [42]:
# join the shotstable and playertable using inner join.. use aliases and limit to 5 rows
curr.execute('''
select *
from shotstable s
    join playertable p 
      on s.shooterID = p.playerID
limit 5
        
''')

for row in curr.fetchall():
    print(row)

(81, 554, None, 27, 'DirectFreekick', 'Standard', 'LeftFoot', 'BlockedShot', 0.104346722364426, 0.794000015258789, 0.420999984741211, 554, 'Juan Mata')
(81, 555, 631.0, 27, 'SetPiece', 'Pass', 'RightFoot', 'BlockedShot', 0.064342200756073, 0.86, 0.627000007629395, 555, 'Memphis Depay')
(81, 554, 629.0, 35, 'OpenPlay', 'Pass', 'LeftFoot', 'BlockedShot', 0.0571568161249161, 0.843000030517578, 0.332999992370605, 554, 'Juan Mata')
(81, 554, None, 35, 'OpenPlay', 'Tackle', 'LeftFoot', 'MissedShots', 0.0921413898468018, 0.848000030517578, 0.532999992370605, 554, 'Juan Mata')
(81, 555, 654.0, 40, 'OpenPlay', 'BallRecovery', 'RightFoot', 'BlockedShot', 0.0357420146465302, 0.811999969482422, 0.706999969482422, 555, 'Memphis Depay')

## Getting familiar with R

# you have to install R software before running pip install rpy2

In [44]:
from rpy2 import robjects

ModuleNotFoundError: No module named 'rpy2'